.input-underline, select, textarea{
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ea728c; 


}

label, input, select, option, textarea{
    font-size: .8rem;    
}

.all-button {
    color: #343a40;
    border-color: #EF8D8C;
}

.all-button:hover {
    color: #fff;
    background-color: #EF8D8C;
    border-color: #EF8D8C;
  }

  .pink-text {
    color:#ea728c; 
  }

  .pink-text:hover {
    color: black;
  }
